@model IEnumerable<CIBERVET.Models.MascotaForCrud>

@{
    ViewBag.Title = "ListadoMascotas";
    Layout = "~/Views/Layout/_Layout_Session.cshtml";
}
<style>
    .thumbnail {
        width: 60px;
        height: 60px;
        border: none;
    }
</style>

<div class="about-box-main">

    <div class="container">
        <h3>Listado de Mascotas</h3><br />
        <p>
            <a href="/Cliente/RegistrarMascota" class="btn btn-info">Registrar Mascota</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    <p>Nombre</p>
                </th>
                <th>
                    <p>Especie</p>
                </th>
                <th>
                    <p>Sexo</p>
                </th>
                <th>
                    <p>Raza</p>
                </th>
                <th>
                    <p>Foto</p>
                </th>
                <th>
                    <p>Editar</p>
                </th>
                <th>
                    <p>Eliminar</p>
                </th>  
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.especie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.raza)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.foto))
                        {
                            <img class="thumbnail" src="~/images/FotosMascotas/@item.foto" />
                        }
                    </td>

                                        <td>
                        <a href="~/Cliente/EditarMascota?id=@item.idmascota" class="btn btn-success" value="">Editar Mascota</a>
                    </td>
                    <td>
                        <a href="~/Cliente/EliminarMascota?id=@item.idmascota" class="btn btn-danger" value="">Eliminar</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>