@{
    Layout = "~/Views/Layout/_Layout_Session.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search **************Hasta aqui termina MENU **********************-->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sobre Nosotros</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="HomeCliente">Inicio</a></li>
                    <li class="breadcrumb-item active">Nosotros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/images/footer1.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Nosotros Somos <span>CIBERVET</span></h2>
                <p>
                    Bienvenido a CIBERVET, un lugar creado para atender la necesidades de nuestras mascotas. Contamos con los mejores especialistas para darle una atencion integral usando productos de calidad y lo ultimo de tecnologia para asegurar un el mejor resultado para ese ser tan especial.

                </p>
                <p>La clinica veterinaria CibertVet es conocida por ofrecer diferentes especialidades que ayuden en la rehabilitacion de las mascotas con diagnosticos favorables y con ideas innovadoras que puedan ayudar a nuestras mascotas a tener una mejor calidad de vida. </p>

                <a class="btn hvr-hover" href="Home">Bienvenido</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Nosotros somos de Confianza </h3>
                    <br />
                    <p> Una experiencia Medica que se puede ver reflejada en la felicidad de nuestras mascotas y sus dueños. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Te Ofrecemos lo Mejor en Productos</h3>
                    <p>Nuestros productos son de la mejor calidad, para que nuestros clientes puedan adquirir con total tranquilidad y seguridad, para el bienestar y felicidad de sus mascotas. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Te Ofrecemos lo Mejor en Nuestros Servicios</h3>
                    <p>En nuestra  clinica, tu mascota sera nuestro principal prioridad, dandole servicios de primera, en vacunacion, en baños, peliqueria, cirugias, etc. </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End About Page -->
<!-- End Cart AQUI TERMINA TODO DE CONTACTANOS XD -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer1.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer2.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer3.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer4.png" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer5.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer6.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/images/footer7.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fa fa-heart"></i></a>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- End Instagram Feed  -->
